.App {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 5vw 7fr;
  grid-template-areas: 'header header' 
  'nav mainBody'
}

.Header {
  grid-area: header;
}

.Nav {
  grid-area: nav;
}

.MainBody {
  grid-area: mainBody;
}