.App {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 5vw 7fr;
  grid-template-areas: 'header header' 
  'nav mainBody'
}

.Header {
  grid-area: header;
  border: solid 2px black;
  background-color: aquamarine;
  text-align: center;
  width: 100vw;
  /* position: fixed; */
}

.Nav {
  grid-area: nav;
  border: solid 2px black;
}

.MainBody {
  grid-area: mainBody;
  border: solid 2px black;
}